body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0 0 40px;
}
img {
  height: 124px;
}

.images {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}

.logo {
  margin-top: 20px;
  height: 60px;
}

.category {
  color: white;
  padding: 10px 0;
  margin: 30px 0;
}
